body {
	background-color: grey;
}





.page_entiere {
	background-color: white;
	border: 2px solid red;
	width: 40%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 100px;
	padding-left: 80px;
	padding-bottom: 40px;
	font-size: 15px;
}

.bloc_cv {
	margin-top: 12px;
}
.partie_haute {
	display: flex;
	direction: row;
	justify-content: space-between;
}

.partie_haute_droite {
	width: 21%;
	outline: 1px solid black;
}

.gros_titre {
	color: #E36C0A;
	font-size: 17px;
	margin-bottom: 15px;
	font-weight: 700;

}


.petit_texte {
	font-size: 13px;
}
.education {
	display: flex;
	flex-direction: column;
}

.partie_moyenne_gauche {
	display: flex;
	flex-direction: row;

}

.date_ville {
	margin-right: 50px;
	width: 56px;
}

.langages_maitrises {
	display: flex;
    flex-direction: column;
}

.liste_langage {
	display: flex;
	flex-direction: column;
}

.liste_langage > span {
	font-weight: 700;
	

} 

.langues {

	font-weight: 700;
	

}

.premier_bloc {
	display: flex;
	flex-direction: column;
}

.premiere_ligne {
	font-size: 13px;
	font-weight: 700;
	
}

.endroit_travail {
	
	font-weight: 700;
}

.profession {
	
}

.poste_occupe {
	text-decoration: underline;
	
}

.explication_poste {
	
}

.deuxieme_bloc {
	margin-top: 20px;
}

.projets {
	display: flex;
	flex-direction: column;
}

.liste_projets {
	display: flex;
	flex-direction: column;
	
	
}

.centres_interets {
	display: flex;
	flex-direction: column;
	
}